.su {
  &Font22 {
    font-size: 22px;
  }
  &Font24 {
    font-size: 24px;
  }
  &TextPrimary {
    color: $primary-color;
  }
  &ButtonPrimary {
    background-color: $primary-color;
  }
  &TopNavbar {
    box-shadow: 0 2px 4px #00000014, 0 4px 12px #00000014;
    z-index: 1010;
    max-width: 500px;
    margin: 0 auto;
  }
  &MainButtonNavigation {
    :hover {
      background-color: $primary-color;
      color: $white;
      cursor: pointer;
    }
    .bodyButton {
      width: 75px;
      height: 75px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $screen-sm) {
        font-size: 14px;
        padding: 5px;
      }
    }
  }
  &News {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    &Body {
      @media screen and (max-width: $screen-ss) {
        font-size: 14px;
      }
      .newsTitle {
        @media screen and (max-width: $screen-ss) {
          font-size: 14px;
        }
      }
    }
  }
}
